block config
	include config.pug
	include mixins.pug

doctype html
html( lang="en" )
	head
		title
			block title
				//- Variable used in text via interpolation
				| #{PageTitle}
		// META
		meta( charset='utf-8' )
		meta( name='viewport', content='width=device-width, initial-scale=1.0' )
		// FAVICON
		link( href='img/favicon.ico', rel='shortcut icon', type='image/x-icon' )
		
		// SEO
		meta( name='Description', content=MetaDesc )
		meta( name='Rating', content=MetaRaiting )
		meta( name='Author', content=MetaAuthor )
		meta( name='Robots', content=MetaRobots )

		// CONFIG
		meta( name='format-detection', content='telephone=no' )
		meta( http-equiv='X-UA-Compatible', content='IE=edge' )

		// CSS
		block stylesheets
			link( href='css/styles.css', rel='stylesheet', type='text/css' )
			
	
	body
		//  darken html when cart onclick
		.overlayBackgroundCartClick
		// main container  
		.container-fluid
			.row
				// Sidebar menu
				.col-xl-2.col-lg-2.col-md-12.col-sm-12
					aside.sidebar
						include ../pages/elements/sidebar-nav.pug
				// Header and main wrapper
				.col-xl-10.col-lg-10.col-md-12.col-sm-12
						.row.bg--light-gray.margin-header--mobile
							.col-lg-11.col-md-12.col-sm-6.col-6
								// Header
								header.header#header
									include ../pages/elements/header-nav.pug
							//Shopping-bag
							.col-lg-1.col-md-12.col-sm-6.col-6
								aside.cart
									//.cart__overlay
									// Bag button
									a(class='cart__link', id='cart', href='#', rel='nofollow' )
										i.icon.shopping-bag.cart__icon
											span.cart__number 2
									.cart__content
										header.cart__header
											h2.cart__title Your cart
										ul.cart__list
											li.cart__list-item
												//-cart-product-item(imageUrl,imageAlt,name,size,color,quantity,price)
												+cart-product-item('img/slider_5.png', 'shoes', 'product name', '6', 'red', '1+', '$499.00')
											li.cart__list-item
												//-cart-product-item(imageUrl,imageAlt,name,size,color,quantity,price)
												+cart-product-item('img/slider_6.png', 'handwatch', 'product name', '6', 'red', '1+', '$499.00')
											li.cart__list-item
												//-cart-product-item(imageUrl,imageAlt,name,size,color,quantity,price)
												+cart-product-item('img/slider_4.png', 'bag', 'product name', '6', 'red', '1+', '$499.00')
										.cart__subtotal-pricing
											p.cart__data Subtotal
												span.cart__data-span $390
											p.cart__data Shipping
												span.cart__data-span Free
										.cart__promo-code
											form.cart__form-promo-code(action="", metod="post")
												input.form-control.cart__form-input(data-label="Please enter a valid promo code", type="text", name="promo-code", placeholder="Promo Code", pattern="", required)
												input.cart__form-submit.btn--filled-dark-gray(type="submit", value="apply now")
										footer.cart__footer
											a.cart__footer-button.btn--bordered Continue shopping
											a.cart__footer-button.btn--filled-black Add to cart
						.row
							.col-lg-11.col-md-12
								// Main 
								main.main-content
									//- Content here
									block content
			.row.bg--gray
				.col-xl-9.col-lg-9.offset-xl-2.offset-lg-2.col-md-12
					// Footer
					include ../pages/elements/footer.pug

		// Scripts
		script(src='js/scripts.min.js') 
			
			
			 



		