//- Nested mixin for mixin header__nav - dropdown menu
mixin dropdown_menu(menu_items)
	ul.dropdown-menu
		each top_item in menu_items
			li.dropdown-menu__submenu-item 
				if top_item.child
					ul.dropdown-menu__submenu-list
						each child_item in top_item.child
							li.dropdown-menu__submenu-list-item
								+droplinks(child_item)

//- This mixin generates the links
mixin droplinks(item)
	- var linkatts = { 'href': item.link }
	a(class="dropdown-menu__list-link")&attributes(linkatts)= item.title

//- This mixin iterates through and creates each menu item
mixin sidebar__nav-list(menu_items)
	ul.sidebar__nav-list
		each top_item in menu_items
			li.sidebar__list-item
				+navlinks(top_item)
					                                
//- This mixin generates the links
mixin navlinks(item)
	- var linkatts = { 'href': item.link }
	a(class="sidebar__list-link")&attributes(linkatts)= item.title


//- Main slider item mixin
mixin main-slider__item(imageUrl, imageAlt, logoUrl, logoAlt, productName, brandLink, brandName, itemPrice, itemDiscount, addUrl)
	.main-slider__item
		// slider img
		.main-slider__img-wrapper
			figure.main-slider__figure
				img.main-slider__img(src=imageUrl, alt=imageAlt)
		// slider caption
		.main-slider__info
			.main-slider__logo-wrapper
				img.main-slider__logo(src=logoUrl, alt=logoAlt)
			p.main-slider__description= productName + " - " 
				span.main-slider__brand
					a(href=brandLink, rel='nofollow')= brandName
			p.main-slider__price= itemPrice 
				span.main-slider__discount= itemDiscount
			.main-slider__add-btn
				a.main-slider__add-link.btn--bordered(href=addUrl, rel='nofollow') Add to cart

//- Product gallery new arrivals items			
mixin gallery-products__item(imageUrl, imageAlt, title, price, discount)
	figure.gallery-products__figure
		img.gallery-products__img(src=imageUrl, alt=imageAlt)
		figcaption.gallery-products__figcaption
			p.gallery-products__title= title
			p.gallery-products__price= price
				span.gallery-products__discount= discount
		.gallery-products__hover.hover-product
			+hover-product

//- Hover product panel
mixin hover-product()
	.hover-product__frame
		a(class='hover-product__text-link', id='cart', href='#', rel='nofollow' ) View
		a(class='hover-product__icon-link', id='cart', href='#', rel='nofollow' )
			i.icon.shopping-bag.hover-product__icon

//- Look-book-banner
mixin look-book-banner(imageUrl, imageAlt, topText, title, bottomText)
	.look-book-banner__img-wrap
		.look-book-banner__figure
			img.look-book-banner__img(src=imageUrl, alt=imageAlt)
	.look-book-banner__caption-wrap
		.look-book-banner__caption
			span.look-book-banner__top-text= topText
			h2.look-book-banner__title= title 
			span.look-book-banner__bottom-text= bottomText
	

//- sales__banner
mixin gallery-sales__banner(imageUrl, imageAlt, year, persent, title, tiitleSpan, bottomText)
	figure.sales-banner.banner--unhovered
		.sales-banner__img-wrap
			img.sales-banner__img(src=imageUrl, imageAlt,)
		figcaption.sales-banner__figcaption
			.sales-banner__figcaption-block-wrap
				.sales-banner__frame-block
					small.sales-banner__year= year 
					p.sales-banner__persent= persent 
						span.sales-banner__persent-text off on
					h3.sales-banner__title= title 
						span.sales-banner__title-span= tiitleSpan 
					a.sales-banner__arrow(href='#l', target='_blank', rel='nofollow')
						i.fas.fa-arrow-right
		p.sales-banner__bottom-text *Terms and condition applied

//-Sales gallery items
mixin gallery-sales__item(imageUrl, imageAlt, title, price, discount, discountRate)
	figure.gallery-sales__figure
		img.gallery-sales__img(src=imageUrl, alt=imageAlt)
		figcaption.gallery-sales__figcaption
			p.gallery-sales__title= title
			p.gallery-sales__price= price
				span.gallery-sales__discount= discount
			.gallery-sales__lable
				span.lable-discount--rectangle= discountRate
		.gallery-sales__hover.hover-product
			+hover-product

//- Section title mixin
mixin section-title(title)
	hgroup.section-title
		h2.section-title__title= title
		h3.section-title__subtitle Awesome shop

//- Banners

//- banner-sunglasses
mixin banner-sunglasses(imageUrl, imageAlt, title, underPriceText, underPriceNumber, collection)
	figure.banner-sunglasses.banner--hovered
		img.banner-sunglasses__img(src=imageUrl, alt=imageAlt)
		figcaption.banner-sunglasses__figcaption
			h3.banner-sunglasses__title= title
			p.banner-sunglasses__under-price-text= underPriceText
				span.banner-sunglasses__under-price-number= underPriceNumber 
					span.banner-sunglasses__exclamation-mark !
			h4.banner-sunglasses__collection= collection
			p.banner-sunglasses__bottom-text 
				|There are many variations of passages of Lorem Ipsum 
				br
				|available, but the majority have suffered alteration in some.
		
	
//- banner-summer-collection
mixin banner-summer-collection(imageUrl, imageAlt, title, span, year, code)
	figure.banner-summer-collection.banner--hovered
		img.banner-summer-collection__img(src=imageUrl, alt=imageAlt)
		figcaption.banner-summer-collection__figcaption
			h4.banner-summer-collection__title= title
				span.banner-summer-collection__title-span= span
			p.banner-summer-collection__year= year
			.banner-summer-collection__product-code
				p.banner-summer-collection__code-text code   
				span.banner-summer-collection__code-number= code
		

//- banner-new-arrivals
mixin banner-new-arrivals(imageUrl, imageAlt, title, titleSpan, year, persent, lableText)
	figure.banner-new-arrivals.banner--hovered
		img.banner-new-arrivals__img(src=imageUrl, alt=imageAlt)
		figcaption.banner-new-arrivals__figcaption
			h4.banner-new-arrivals__title= title
				.banner-new-arrivals__title-span= titleSpan 
			p.banner-new-arrivals__year= year
		.banner-new-arrivals__lable
			p.lable-discount--circle= persent
				span.lable-discount--circle__text= lableText
		

//- banner-men-shoes
mixin banner-men-shoes(imageUrl, imageAlt, title, titleSpan)
	figure.banner-men-shoes.banner--hovered
		img.banner-men-shoes__img(src=imageUrl, alt=imageAlt)
		figcaption.banner-men-shoes__figcaption
			h3.banner-men-shoes__title= title 
				span.banner-men-shoes__title-span= titleSpan
		

//- banner-super-discount
mixin banner-super-discount(imageUrl, imageAlt, title, titleSpan1, titleSpan2, percent)
	figure.banner-super-discount.banner--hovered
		img.banner-super-discount__img(src=imageUrl, alt=imageAlt)
		figcaption.banner-super-discount__figcaption
			.banner-super-discount__title-wrap
				h3.banner-super-discount__title= title
					span.banner-super-discount__title-span-first= titleSpan1  
					span.banner-super-discount__title-span-second= titleSpan2 
				p.banner-super-discount__percent= percent 
			p.banner-super-discount__text
				|There are many variations of passages of Lorem Ipsum available, but the majority 
				br 
				|have suffered alteration in some form
		
mixin cart-product-item(imageUrl,imageAlt,name,size,color,quantity,price)
	.cart-product
		.cart-product__img-wrapper
			a.cart-product__img-link
				img.cart-product__img(src=imageUrl, alt=imageAlt)
		.cart-product__description
			h3.cart-product__name= name
			ul.cart-product__data-list
				li.cart-product__data="size: " + size
				li.cart-product__data="color: " + color
				li.cart-product__data="quantity: " + quantity
				li.cart-product__data="price: " + price
		button.cart-product__delete-button(name="deleteButton", type="button", value="delete")
			i.cart-product__delete-button-icon.fas.fa-times
			
